{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <title>Output</title>
</head>
<body>
<div>
    {% if range <= '1' %}
    <h2>Enter range greater than 1</h2>

    {% elif range > '1' %}
    <h2>The selected range is {{range}}</h2>
    <h4> List of Primes : </h4>
    
    {% if values %} 
    {% for i in values %}
    {{i}}<br>
    {% endfor %}    
    {% endif %}

    {% else %}
    <h4>Oops ! You skipped the input </h4>
    
    {% endif %}
    <br>
    <button onclick="location.href='{% url 'input' %}'">Back</button>
</div>
</body>
</html>